meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Alistamiento de maquinaria cumpliendo normas de seguridad
meta(meta name="description" content="El alistamiento es la acción de preparar con anticipación todos los materiales y la maquinaria necesarios para realizar el proceso de confección de la prenda. Por lo tanto es importante desde este momento tener claridad en las normas de seguridad y cuidado que se deben tener a la hora de manipular una máquina de confección.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")