.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Trazo, corte y confección de la falda clásica
            h1.curso-titulo Alistamiento de maquinaria cumpliendo normas de seguridad

            .brand-line-primary

            p.curso-descripcion Herramienta práctica para identificación del procedimiento de alistamiento, tanto  de la máquina de coser, como de las piezas que componen la prenda, antes de realizar la confección. 

            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")