include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    <div class="header-ecored">
        <h1>Introducción</h1>
    </div>

    .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/AZAY9W7RLwI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    section.card-border-bottom.mt-5
        .card
            .card-body

                p.mb-5 El presente material de formación lo orientará sobre el proceso adecuado para realizar el alistamiento previo a la confección de la falda clásica, teniendo en cuenta la maquinaria y herramientas necesarias para la elaboración de la prenda.  
 
                p.mb-5 Por tal razón, es muy importante contar con todos los recursos físicos que son necesarios a la hora de empezar a ensamblar, tener las piezas listas, los hilos para coser tono a tono, la máquinas y sus implementos, agujas, carreteles, entre otros.

                p.mb-5 Los procesos asociados a la confección de prendas de vestir, requieren de acciones seguras que garanticen la integridad de quienes participan en estos procesos, evitando accidentes laborales y garanticen cumplimiento y calidad en el producto final.