.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody
            tr
                td 
                    strong Alistamiento de máquina plana
                td VIDEO
                td 
                    a(href="https://www.youtube.com/watch?v=YntKFwKopvQ", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> VER



            