.container

  h3.my-5 Bibliografía

  ol
    li 
      p Gemma L. Corte y confección para dummies (2015). España, Ebook. 

    li
      p 
        | Unidad de Comunicaciones y Prensa CIDEP (2012) Manual de Corte y Confección, 1, 60. Disponible en: <a href="https://www.academia.edu/36723867" target="_blank">https://www.academia.edu/36723867</a>    

    li
      p 
        | Universidad Peruana de Ciencias Aplicadas (UPC) (2017). Técnicas de patronaje, Carrera de diseño y gestión de moda, Tomo 1, mujer. 1, 675.


  h3.my-5 Referencias web   

  ol
    li
      p 
        | <strong>Anonimo. (s.f.). Moda y Estilo.</strong> Obtenido de NORMAS DE SEGURIDAD E HIGIENE. Obtenido de:  <a href="https://sites.google.com/site/confecciontextil2011/normas-de-seguridad" target="_blank">https://sites.google.com/site/confecciontextil2011/normas-de-seguridad</a>    

    li
      p 
        | <strong>Audaces, P. o. (22 de 06 de 2015).</strong> Audaces. Obtenido de Calidad de la tela: elementos que se deben observar al recibir las telas. Obtenido de  
        a(href="https://www.audaces.com/es/calidad-de-la-tela-elementos-que-se-deben-observar-al-recibir-las-telas/", target="_blank") https://www.audaces.com/es/calidad-de-la-tela-elementos-que-se-deben-observar-al-recibir-las-telas/</a> 

    li
      p 
        | <strong>Audaces, p. o. (2019). Tipos de trazo.</strong> ¿Cómo aprovechar mejor la tela? Obtenido de 
        a(href="https://www.audaces.com/es/tipos-de-trazo-como-aprovechar-mejor-la-tela/", target="_blank") https://www.audaces.com/es/tipos-de-trazo-como-aprovechar-mejor-la-tela/</a> 

    li
      p 
        | <strong>OSHA Directorate of Technical Support and Emergency Management; Washington, DC. (1995)</strong> La costura y procedimientos relacionados. Ergonomía. UNITED STATES DEPARTMENT OF LABOR. Obtenido de: 
        a(href="https://www.osha.gov/SLTC/etools/sewing_sp/sewingstationdesign.html", target="_blank") https://www.osha.gov/SLTC/etools/sewing_sp/sewingstationdesign.html</a> 

    li
      p 
        | <strong>Ocupaciones y oficios. (19 de 05 de 2013).</strong> conocimientosweb.net LA DIVISA DEL NUEVO MILENIO. Obtenido de Normas de seguridad e higiene al coser:
        a(href="https://www.conocimientosweb.net/dcmt/ficha1341.html", target="_blank") https://www.conocimientosweb.net/dcmt/ficha1341.html</a>                         