include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h2#tema-11 1.2 Alistamiento de maquinaria

    p Para definir cuál es el alistamiento de la maquinaria requerida, es necesario definir cuál es de tipo industrial para la confección de la prenda. 
 

    .header-ecored
        h3 Máquina plana

    p La máquina plana permite unir las piezas que conforman una prenda. En el caso de la falda clásica, se cosen el delantero con la parte posterior, la pretina y se coloca la cremallera.  Esta máquina funciona enhebrando la aguja de la parte superior, la cual entrelaza la hebra que se encuentra en el carrete de hilo de la parte inferior mostrando una punta recta.  Es conocida como la indicada para realizar costuras básicas.    

    p 
        strong Las partes de la máquina son:


    .subtitulo-ecored.mb-1
        h3
            span.number A
            span Mueble

    p Esta parte de la máquina soporta el cabezote de la máquina y sirve de apoyo para la persona momento de coser la prenda. El mueble consta de los siguientes elementos: 

    .row.justify-content-between.align-items-start.mt-5
        .col-12.col-lg-6
            p.header-step
                span.header-step-number.text-brand-color-light A
                span.header-step-title
                    strong Pedal
                    p Elemento que permite accionar el movimiento de la máquina y generalmente es accionado por la persona por medio de los pies, permitiendo controlar desde allí su velocidad.
            hr
            p.header-step
                span.header-step-number.text-brand-color-light B
                span.header-step-title
                    strong Estante
                    p Soporta la mesa, el motor y los pedales.

            hr

        .col-12.col-lg-6
            p.header-step
                span.header-step-number.text-brand-color-light C
                span.header-step-title
                    strong Motor
                    p Constituye la parte principal de la máquina, ya que le permite imprimir fuerza y movimiento. Se compone del interruptor, la polea y la correa.
            hr
            p.header-step
                span.header-step-number.text-brand-color-light D
                span.header-step-title
                    strong Varilla del embrague
                    p Permite conectar el pedal con el embrague del motor, permitiendo accionar la máquina. 
            hr

    p.text-left.my-5.text-center
        img(src="assets/images/pages/tema-1/mueble.svg").img-fluid


    .subtitulo-ecored.mb-1
        h3
            span.number B
            span Cabezote

    p El cabezote de la máquina contiene los elementos que permiten seleccionar la puntada y permite mover la tela a medida que se cose la prenda. Las partes del cabezote son las siguientes: 


    .row.justify-content-between.align-items-start.mt-5
        .col-12.col-lg-6
            p.header-step
                span.header-step-number.text-brand-color-light 01
                span.header-step-title
                    strong Regulador de puntada
                    p Es la parte de la máquina que permite seleccionar el tipo, largo y tamaño de la puntada.
            hr
            p.header-step
                span.header-step-number.text-brand-color-light 02
                span.header-step-title
                    strong Caja bobina
                    p Permite envolver el hilo que se utilizará para realizar la costura. También se denomina carretel.
            hr
            p.header-step
                span.header-step-number.text-brand-color-light 03
                span.header-step-title
                    strong Palanca de retroceso
                    p Acción de retroceso, remate de costura y graduación de puntada.
            hr
            p.header-step
                span.header-step-number.text-brand-color-light 04
                span.header-step-title
                    strong Dientes
                    p Facilita el movimiento de la tela en el proceso de costura.
            hr
            p.header-step
                span.header-step-number.text-brand-color-light 05
                span.header-step-title
                    strong Gancho rotatorio
                    p Protege la caja bobina y permite tomar el hilo para llevarlo a la parte superior de la máquina.
            hr
            p.header-step
                span.header-step-number.text-brand-color-light 06
                span.header-step-title
                    strong Palanca tira hilos
                    p Lleva el hilo a la aguja, recupera la tensión del hilo y el hilo sobrante.
            hr 
            p.header-step
                span.header-step-number.text-brand-color-light 07
                span.header-step-title
                    strong Volante
                    p Es la parte de la máquina con forma de rueda que recibe el movimiento de la correa y lo transmite a la parte interna del cabezote. Puede ser manual o automático.
            hr                        
        .col-12.col-lg-6
            p.header-step
                span.header-step-number.text-brand-color-light 08
                span.header-step-title
                    strong Aguja
                    p Inserta el hilo a través en la tela dando la forma de la puntada seleccionada.
            hr
            p.header-step
                span.header-step-number.text-brand-color-light 09
                span.header-step-title
                    strong Porta conos
                    p Sostiene los hilos utilizados para realizar la costura. 
            hr
            p.header-step
                span.header-step-number.text-brand-color-light 10
                span.header-step-title
                    strong Guía de hilos
                    p Llevar el hilo desde los conos hasta la aguja.
            hr
            p.header-step
                span.header-step-number.text-brand-color-light 11
                span.header-step-title
                    strong Pie prensatela
                    p Mantiene la tela en la planchuela, para facilitar sostenimiento de la tela al momento de coser. 
            hr
            p.header-step
                span.header-step-number.text-brand-color-light 12
                span.header-step-title
                    strong  Barra de aguja
                    p Sostiene la aguja para facilitar que ésta baje y suba realizando la puntada. Cuenta con un tornillo que asegura la aguja.
            hr
            p.header-step
                span.header-step-number.text-brand-color-light 13
                span.header-step-title
                    strong Medidor de lubricación
                    p Muestra el nivel de aceite que de la máquina. 
            hr                              
    p.text-center.my-5
        img(src="assets/images/pages/tema-1/cabezote.svg").img-fluid

